In [3]:
import pandas as pd
import ast

In [7]:
with open("test_nyt_2k.jsonl.hyps") as f:
    lines = f.readlines()
lines = [line.strip() for line in lines]

In [8]:
data = pd.read_csv('../../OMIn_dataset/data/FAA_data/Maintenance_Text_data_nona.csv')

In [9]:
out_dict = {'c5_id':[],'doc_idx':[], 'c119_input':[],'head':[],'relation':[],'tail':[]}

for doc_idx, line in enumerate(lines):
    if line != '':
        for triple in line.split(') ('):
            head, relation, tail = [part.strip() for part in triple.replace(')','').replace('(','').split(';')]
            out_dict['c5_id'].append(data['c5'].iat[doc_idx])
            out_dict['doc_idx'].append(doc_idx)
            out_dict['c119_input'].append(data['c119'].iat[doc_idx])
            out_dict['head'].append(head)
            out_dict['relation'].append(relation)
            out_dict['tail'].append(tail)

In [10]:
out_df = pd.DataFrame(out_dict)
out_df

,c5_id,doc_idx,c119_input,head,relation,tail
0,19940118004159I,1725,"NARRATIVE: ON 1/18/94, RYAN 205, A B-727-21, N...",RYAN,place lived,NASHVILLE
1,19940118004159I,1725,"NARRATIVE: ON 1/18/94, RYAN 205, A B-727-21, N...",RYAN,place of birth,NASHVILLE
2,19940209001909I,1733,NARRATIVE: AIRMAN/AIR AGENCY COMPETENCE: PRIOR...,NEW JERSEY,contains,NEWARD
3,19950129005649I,1833,NARRATIVE: AFTER LANDING RUNWAY 01 AT TEB AIRP...,RUNWAY 01,neighborhood of,TEB AIRPORT
4,19950321009089I,1850,"NARRATIVE: AFTER TAKE-OFF FROM WAINWRIGHT AS, ...",WAINWRIGHT AS,place founded,AK
...,...,...,...,...,...,...
88,20070723013849I,2695,(-23) DURING A VFR FLIGHT FROM NORTHWEST REGIO...,ROANOKE,contains,NORTHWEST REGIONAL AIRPORT
89,20070810021829A,2704,(-23) PILOT STATED THAT WHILE ENROUTE FROM LAC...,WI,contains,LACROSS
90,20071002825149A,2706,(-23) THE PILOT/OWNER WITH HIS WIFE ON-BOARD I...,PAGE,place of birth,AZ
91,20080118011669I,2718,(-23) THE PILOT ^PRIVACY DATA OMITTED^ DEPARTE...,MILWAUKEE,contains,TIMMERMAN AIRPORT
92,20080427836779I,2727,"(-23) DIAMOND DA42, DEPARTED LONG BEACH, CA, A...",LONG BEACH,place of birth,CA

In [11]:
out_df.to_csv('../../tool_results/deepstruct/deepstruct_nyt.csv',index=False)